.op-menu{
    position: fixed;
    margin-top: 2vh;
    margin-left: 2vw;
    cursor: pointer;
}
header{
    nav{
        background-color: black;
        position: fixed;
        width: 50vw;
        height: 100vh;
    }
}