.op-menu{
    position: fixed;
    margin-top: 2vh;
    margin-left: 2vw;
    cursor: pointer;
}
header{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    nav{
        background-color: rgb(249, 249, 249);
        position: fixed;
        width: 50vw;
        height: 100vh;
    }
}