.landing{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(../../media/img/wb-sections/landing/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
