.landing {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(../../media/img/wb-sections/landing/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;

    .img-logo {
        justify-self: center;
        align-self: center;
    }

    .wpg-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;

        .wpg-descriptiion {
            display: grid;

            h1 {
                color: white;
                justify-self: center;
                align-self: center;
                font-size: 4vw;
            }
            p{
                color: #fff;
                justify-self: center;
                align-self: center;
                font-size: 1.5vw;
                text-align: justify;
                margin-left: 3vw;
            }
        }
    }
    .wpg-notes{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        div{
            display: grid;
            background: linear-gradient(90deg, rgb(129 129 129 / 38%) 14%, rgb(217 217 217 / 35%) 35%, rgb(221 221 221 / 74%) 100%);
            width: 34vw;
            color: white;
            h2{
                justify-self: center;
            }
            h3{
                justify-self: center;
            }
            h4{
                justify-self: center;
            }
        }
    }
}